<!--
<div>

    <table>
        <tr *ngIf="loggedOut">
            Username: <input><br/>
            Password: <input type="password"><br/>
            <button (click)="loginUser()">Login</button>
        </tr>
        <tr  *ngIf="loggedIn">
            <td>
                <app-headerbasic></app-headerbasic>
            </td>
        </tr>
        <tr  *ngIf="loggedIn">
            <button (click)="logoutUser()">Logout</button>
            <app-footerbasic></app-footerbasic>
        </tr>
    </table>
</div>




<body>
        <div class="part1"><app-epic></app-epic></div>
        <div class="part2"><app-story></app-story> </div>
        <div class="part3"></div>
        <div class="part4"></div>
      </body>
-->
<app-navbar></app-navbar>
<!--
    

    
    
    <div class="container">
    <app-employees></app-employees>
</div>-->


<router-outlet></router-outlet>