
    Log Description: <input type="text" [formControl]="logDescription"><br/>
    Log Duration: <input type="number" [formControl]="logDuration">Hrs<br/>
    Log Story: <input type="number" [formControl]="logStory"><br/>
    Log Task: <input type="number" [formControl]="logTask"><br/>
    Log Employee: <input type="number" [formControl]="logEmployee"><br/>
    <button (click)="timeLog()">Log Time</button><br/><br/>

    Issue Name: <input type="text" [formControl]="issueName"><br/>
    Issue Description: <input type="text" [formControl]="issueDescription"><br/>
    Issue Story: <input type="number" [formControl]="issueStory"><br/>
    Issue Status: <input type="number" [formControl]="issueStatus"><br/>
    <button (click)="issueLog()">Log Issue</button>
